<div class="content-with-navbar-spacing">
  <h1><strong>Available garages</strong></h1>
  <div class="container">
    <div class="row">
      <%@garages.each do |c|%>
        <div class="card m-3" style="width: 18rem;">
          <!--img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title"><strong>Name: </strong><%=c.name%></h5>
            <p class="card-text"><strong>Address: </strong><%=c.address%></p>
            <%= link_to "Ver Garage", garage_path(c), class: "btn btn-primary" %>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <%= link_to "Ver modelos disponibles", cars_path, class: "btn btn-secondary" %>
</div>
