<h1><strong>Your Garages!</strong></h1>
<div class="container">
  <div class="row">
    <%@garages.each do |c|%>
      <div class="card m-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>Name: </strong><%=c.name%></h5>
          <p class="card-text"><strong>Address: </strong><%=c.address%></p>
          <p class="card-text"><strong>User_id: </strong><%=c.user_id%></p>
        </div>
      </div>
    <%end%>
  </div>
</div>
