<%= simple_form_for [car, booking] do |f| %>
<div class="row d-flex align-items-center justify-content-center g-3 bg-light">
  <div class="col-md-3">
    <%= f.input :start_date,
               as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  </div>

  <div class="col-md-3">
    <%= f.input :finish_date,
              as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  </div>

  <div class="col-md-3">
    <%= f.submit "Start Booking", class: "btn btn-primary w-100" %>
  </div>

</div>
<% end %>
