<h1>OPEN GARAGE</h1>
<div class="banner">
  <img id="banner" src="https://wallpapers.com/images/hd/ultra-wide-4k-car-3lxbiug6ognbvkxm.jpg" alt="Car">
</div>
<div class="slogan">
  <h1> <strong>Rent faster cars, in a faster way!</strong></h1>
  <h4>Go wherever you want! there's a car waiting for you</h4>
</div>
<div class="explore">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://resources.turo.com/f/253489/792x176/2d5de50ebf/browse-entry_web.jpg/m/" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Every car, for every ocassion</h5>
        <p class="card-text"> See all of our cars, ranging from SUV'S to sport cars</p>
        <p class="card-text"><small class="text-body-secondary">Our premium selection</small></p>
        <button type="button" class="btn btn-primary">See more!</button>
      </div>
    </div>
  </div>
</div>
</div>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rutamotor.com%2Franking-casi-al-cierre-de-ano-estos-son-los-20-suvs-mas-vendidos-en-chile%2F&psig=AOvVaw3XBdX_I5tGAXkMiQav4HBe&ust=1731249254070000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMi1v5i8z4kDFQAAAAAdAAAAABAE" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.google.com/imgres?q=lamborghini%20Suvs&imgurl=https%3A%2F%2Facnews.blob.core.windows.net%2Fimgnews%2Flarge%2FNAZ_55275bea50b149b6a4da8a1429d70540.webp&imgrefurl=https%3A%2F%2Fnoticias.autocosmos.cl%2F2022%2F10%2F02%2Flamborghini-urus-s-2023-un-performante-de-traje&docid=12nBpoqq2kNHJM&tbnid=4Kb9ClDfdXc5BM&vet=12ahUKEwiJ6e6hvM-JAxVvppUCHcseJ1UQM3oECGEQAA..i&w=1024&h=576&hcb=2&ved=2ahUKEwiJ6e6hvM-JAxVvppUCHcseJ1UQM3oECGEQAA" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://di-uploads-pod14.dealerinspire.com/hondaeastcincy/uploads/2023/12/2312-Honda-CR-V-SUV-Lineup.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1>Be a host! <span class="badge text-bg-secondary">Create your garage 🚘</span></h1>
