.mycard img {
  width: 120px;
}

.mycard {
  width: 200px;
  padding: 2px;
}

.mycard h3 {
  font-size: 17px;
  line-height: 20px;
  color: #00285f;
}

.mycards {
  display: flex;
  margin-bottom: 5px;
}
