// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Recent updates (29 Nov 2023): Fixed the card height and improved the `card__content` container by using grid. This makes sure the buttons always remain inline with each other if the content varies between cards. These changes have also been tested across various browsers to make sure everything works correctly, at all sizes.

/* Follow me on:
  https://dribbble.com/Curtis_A_Lee
*/

/* Check out my website:
  https://thatboycurt.com/
*/

// MEDIA QUERY
@mixin media($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 60em) {
      @content;
    }
  }
}

// VARIABLES
$color-header: #0d0d0d;
$color-text: #404040;

$color-btn-text: #3363ff;
$color-btn-background: #e6ecff;

$transition: .2s;


// MAIN CONTENT
.grid {
  display: grid;
  width: 114rem;
  grid-gap: 3rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(30rem, 1fr)
  );

  @include media(small) {
    grid-gap: 3rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: $transition;

    &:hover {
      transform: translateY(-.5%);
      box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
    }
    &__img {
      display: block;
      width: 100%;
      height: 18rem;
      object-fit: cover;
     }

    &__content {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-row-gap: 2rem;
      padding: 2rem;
      height: 100%;
    }

    &__header {
      font-size: 3rem;
      font-weight: 500;
      color: $color-header;
    }

    &__text {
      font-size: 1.5rem;
      letter-spacing: .1rem;
      line-height: 1.7;
      color: darken($color-text, 1%);
      margin-bottom: 2.5rem;
    }

    &__btn {
      display: block;
      width: 100%;
      padding: 1.5rem;
      font-size: 2rem;
      text-align: center;
      color: $color-btn-text;
      background-color: $color-btn-background;
      border: none;
      border-radius: .4rem;
      transition: $transition;
      cursor: pointer;

      span {
        margin-left: 1rem;
        transition: $transition;
      }

      &:hover,
      &:active {
        background-color: darken( $color-btn-background, 2%);

          span {
          margin-left: 1.5rem;
        }
      }
    }
  }
}
.content-with-navbar-spacing {
  margin-top: 150px;
}

.fixed-image {
  height: 200px;
  object-fit: cover;
  border: 10px grey;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;
}

.hover-zoom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
